{% extends "base.html" %} {% block title %} aqar1920_2020{% endblock %} {% block main %}


    <style>
        table,
        tr,
        td,
        th {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">


            <div class="text-center my-3">
                <h2>V.D.F Collage Of Engineering Latur</h2>
                <h2>AQAR 2020-2021 Details</h2>
            </div>

        </div>
        <div class="col-fluid text-left my-5">
            <table class="table p-0 ">
                <tr>
                    <th scope="col" class="bg-success"><b>Criteria</b></th>
                    <th scope="col" class="bg-success"><b>Link for Metrics Level</b></th>
                </tr>
                <tr>
                    <td scope="row">I - Curricular Aspects1</td>
                    <td>1.1.1 The Institution Ensures Effective Curriculum Delivery<br> 1.1.3 Teachers of the Institution Participate <br>1.2.2 & 1.2.3 Number of Add on /Certificate programs offered during the year</td>

                </tr>
                <tr>
                    <td scope="row">III - Research, Innovations, and Extension</td>
                    <td>3.1.1 Research Funds Sanctioned </br>3.1.3 Seminars/conferences/workshops conducted</br> 3.2.1 Journal Publication </br>3.2.2 Conference Publication</br> 3.3.2 Awards for Extension Activity</br> 3.3.3 & 3.3.4 Extension and Outreach
                        Programs
                        </br>
                        3.4.1 Faculty & Student Exchange Collaborative<br> 3.4.2 MoUs Signed Company-Activity
                    </td>

                </tr>
            </table>
        </div>
    </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
{% endblock %}