{% extends "base.html" %} {% block title %} aqar1920_2020{% endblock %} {% block main %}



{% load static %}
    <style>
        table,
        tr,
        td,
        th {
            border: 1px solid black;
        }
        
        ul {
            list-style-type: disc;
        }
    </style>

    <div class="container my-1">
        <div class="row">


            <div class="text-center">
                <h1>V.D.F Collage Of Engineering Latur</h1>
                <h1>AQAR 2019-2020 Details</h1>
            </div>

        </div>
        <div class="col-fluid text-left my-5">
            <table class="table p-0 ">
                <tr>
                    <th scope="col" class="bg-success"><b>Criteria</b></th>
                    <th scope="col" class="bg-success"><b>Link for Metrics Level</b></th>
                </tr>
                <tr>
                    <td scope="row">Part A</td>
                    <td>
                        <ul>
                            <b> Internal Quality Assurance System</b> <br> <b>Significant contributions made by IQAC</b>
                            <li>Faculty members online course through edX with Institutional sponsorship</li>
                            <li>Faculty members International Engineering Educator Certification Program</li>
                            <li>Faculty members participate in Atal FDP courses, Sabbatical training at BENNETT University</li>
                            <li>Applied for recognition of our institution under section 2F of UGC Act.1956</li>
                            <li>D-batu University Research Centre Recognition for Chemistry department</li>
                            <li>Water conservation system</li>
                            <li> Introduced external question paper setting for the internal assessment test, central evaluation</li>
                        </ul>
                    </td>

                </tr>
                <tr>
                    <td scope="row">II Teaching - Learning and Evaluation</td>
                    <td>

                        <ul>

                            <b>2.4. Teacher Profile and Quality</b> <br>
                            <li>Appointment Orders</li>
                            <li>Ph.D. Degree Certificates</li>
                            <li>Honors and Recognitions received by Teachers</li>
                            <b>2.7.1 Student Satisfaction Survey (SSS) on overall institutional performance</b><br>
                            <li>Questionnaire</li>
                            <li>Survey Report</li>
                            <li>Survey Report(PDF)</li>

                        </ul>
                    </td>

                </tr>
                <tr>
                    <td scope="row"> III - Research, Innovations, and Extension</td>
                    <td>
                        <ul>
                            <b>3.1.1 Research Fund Sanctioned </b><br>
                            <b>3.2.1 IPR and Industry Acadmia</b><br>
                            <b>3.2.2 Awards for Innovations</b><br>
                            <b>3.3.1 Incentive to The Teachers</b><br>
                            <b>3.3.3 Journal Publication</b><br>
                            <b>3.3.4 Conference Publication</b><br>
                            <b>3.3.7 Faculty Participation</b><br>
                            <b>3.4.1 & 3.4.3 Extension and Outreach Programs</b><br>
                            <b>3.4.2 Awards for Extension Activity</b><br>
                            <b>3.5.1 Faculty Exchange Collaborative </b><br>
                            <b></b>

                        </ul>
                    </td>

                </tr>
                <tr>
                    <td scope="row">IV - Infrastructure and Learning Resources</td>
                    <td>
                        <ul>
                            <b>4.3.3 Facility of E-Content </b><br>


                        </ul>
                    </td>

                </tr>
                <tr>
                    <td scope="row">V-Student Support and Progression</td>
                    <td>
                        <ul>
                            <b>5.1.1 Scholarship and Financial support</b><br>
                            <b>5.1.2 Number of capability enhancement and Development Schemes</b><br>
                            <b>5.1.3 Students benefitted by guidance for competitive examinations and Career counseling offered by the Institution during the year</b><br>
                            <b>5.2.1 Details of Campus Placement during the year</b><br>
                            <b>5.2.2 Student Progression to higher education during the year</b><br>
                            <b>5.2.3 Students qualifying in State/International level exams during the year</b><br>
                            <b>5.2.4 Sports and Cultural Activities/Competitions organized at the Institutional level during the year</b><br>
                            <b>5.4.4 Meetings /Activities organized by the Alumni Association during the year</b>


                        </ul>
                    </td>

                </tr>
            </table>
        </div>
    </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    {% endblock %}